@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --cor01: #1a1a2e;
    --cor02: #16213e;
    --cor03: #e42e4c;
    --cor04: #ece5e5;
}

body {
    background-color: var(--cor04);
    line-height: 1.2;
}

header {
    min-height: 150px;
    background-color: var(--cor01);
    padding: 80px;
}

header>h1 {
    color: #ffff;
    font-size: 5.3em;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

header>p {
    color: #ffff;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.cadastro:hover {
    background-color: var(--cor03);
    color: #fff;
}

nav {
    margin: 0px 0px 0px -70px;
    padding: 10px;
    background-color: var(--cor01);
}

nav a {
    color: #ffff;
    padding: 8px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--cor02);
    border-radius: 5px;
}
section{
    border-radius: 10px;
    width: 315px;
    height: 200px;
    padding-bottom: 10px;
    margin: 40px 0px 10px 10px;
    text-align: center;
}
section.banner {
    color: #ffff;
    padding: 60px 20px;
    background-color: var(--cor02);
    margin-bottom: 20px;
}
.banner-texto h1{
    font-size: 2.2em;
    margin-bottom: 20px;
    margin-top: -23px;
    font-variant: small-caps;
}
.banner-texto p{
    font-size: 1em;
    margin-bottom: 20px;
}
.principal{
    background-color: var(--cor03);
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
   
}
.principal:hover{
    background-color: #ed405d;
   
}
.destaques {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #fff;
}

.destaque {
    background-color: #1a1a2e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;}